@import 'bootstrap';
@import 'bootstrap-icons';

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
a{
  text-decoration: none;
}

body{
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

#root{
  background-color: #1E1E2E;
  min-height: 100vh;
}

.modal-backdrop {
  position: fixed;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

th{
  cursor: pointer;
}

h1{
  font-size: 3.5rem;
}


/* table  */
.table-wrapper {
  border-radius: 20px;
  overflow: hidden; 
  background: #1e1e1e; 
  box-shadow: 
    0 4px 10px rgba(0, 0, 0, 0.25),
    0 8px 30px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

.table-wrapper:hover {
  box-shadow: 
    0 8px 18px rgba(0, 0, 0, 0.3),
    0 12px 40px rgba(0, 0, 0, 0.2);
}

.task-table-body tr {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.task-table-body tr:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(100, 100, 100, 0.35);
  z-index: 5; 
  position: relative;
}



