@import 'bootstrap';
@import 'bootstrap-icons';

a{
  text-decoration: none;
}

#root{
  background-color: rgba(4, 0, 29, 0.978);
  min-height: 100vh;
}

.modal-backdrop {
  position: fixed;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

th{
  cursor: pointer;
}
